<div class="searchBar">
    <div class="container">
        <form action="/search" class="search_form" role="search" method="post">
            <input type="searc"
            aria-label="searc"
            id="searchInput"
            name="searchTerm"
            placeholder="Search about..."
            />
        </form>

        <div id="searchClose">Close</div>
    </div>
</div>