<div class="login-form-container">

    <div class="login-form col-6">
            <img src="/img/Logo_alpha_horizontal.png" class="logo" alt="">
            <h3 id="sign-in">Sign Up</h3>

        <form action="/admin/register" method="POST" class="form-group">

        <label for="email"><b>Name</b></label>
        <input type="text" class="form-control" placeholder="Enter Name" name="name">

        <label for="email"><b>Email</b></label>
        <input type="text" class="form-control" placeholder="Enter Email" name="email">
        
        <label for="password"><b>Password</b></label>
        <input type="password"  class="form-control" placeholder="Enter Password" name="password">

        <input type="submit" value="Sign Up" class="btn btn-outline-primary">

        </form>
    </div>
</div>
