<div class="welcome">
    <h1 class="welcome__header"> Welcome To System and Beyond!</h1>
    <div class="welcome__body">Let's take a survey to Linux Systems, Cloud Computing and Beyond! </div>
</div>

<img src="/img/penguins.jpg" alt="Penguins" class="welcome-image" width="981" height="528">

<section class="posts">
    <h2 class="post__headers">Latest Posts</h2>
    <ul class="post-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="post-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="post-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
