<div class="welcome">
    <h1 class="welcome__header">Page Not Found!</h1>
    <div class="welcome__body">This Page Doesn't Exist! </div>
</div>

<img src="/img/linux.jpg" alt="Penguins" class="welcome-image" width="981" height="528">