<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/linux" class="">Linux</a>
            </li>
            <li>
                <a href="/cloud" class="">Cloud</a>
            </li>
            <li>
                <a href="/about" class="">About Us</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="btn btn-danger" aria-expanded="false">
            <a href="/logout">
                Logout
            </a>
        </button>
    </div>
</header>