<div class="sidebar-container">
    <nav class="sidebar-nav">
        <img src="/img/Logo_alpha_horizontal.png" alt="">
        <ul class="sidebar-list">
            <li>
                <a href="/admin/dashboard" class="">Dashboard</a>
            </li>
            <li>
                <a href="/admin/users" class="">Users</a>
            </li>
            <li>
                <a href="/admin/posts" class="">Posts</a>
            </li>
            <li>
                <a href="/admin/categories" class="">Categories</a>
            </li>
            <li>
                <a href="/admin/subscriptions" class="">Subscriptions</a>
            </li>
        </ul>
        <button class="btn btn-outline-primary logout" aria-expanded="false">
            <a href="/admin/logout">
                Logout
            </a>
        </button>
    </nav>
</div>