.about{
  margin: 1rem auto;
  border: 5px solid var(--systemandbeyondlight);
  border-radius: 1rem;
}
.about-container{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.about-container:hover{
  background-color: var(--systemandbeyondlight);
}
.author-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials{
  display: flex;
  font-size: x-large;
}

.socials a {
  font-size: xx-large;
}